* {
	box-sizing: border-box;
	outline: none;
}

ul,
ol {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

.container {
	max-width: 1060px;
	text-align: center;
	margin: 0 auto;
}

// Button
button {
	color: #fff;
	text-decoration: none;

	min-width: 100px;
	border: none;
	background: rgb(212, 75, 56);

	padding: 0.7em 1.5em;
}

button + button {
	margin-left: 20px;
}

button:hover {
	background: rgb(232, 95, 76);
}

button:active {
	background: rgb(152, 15, 0);
}

.icon {
	font-size: 24px;
}

input {
	padding: 15px 10px;
	border: none;
	border-bottom: 2px solid #d44b38;
	min-width: 200px;
}

.input-wrapper {
	margin-bottom: 20px;
}
