button {
	display: inline-block;
	position: relative;
	overflow: hidden;

	background-color: inherit;
	border: 2px solid #bbbbba;
	border-radius: 8px;

	color: #929291;
	text-decoration: none;
	cursor: pointer;

	min-width: 120px;
	transition: 0.2s ease-in-out;

	padding: 10px 30px;
	margin: 0 10px;
}
button:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -75px;

	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.5)
	);
	height: 50px;
	width: 50px;

	transform: skewX(-45deg);
}
button:hover {
	background: rgb(66, 66, 66);
	color: #fff;
}
button:hover:before {
	left: 150px;
	transition: 0.5s ease-in-out;
}
