.device__list {
	display: flex;
	flex-wrap: wrap;
}

.device__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);

	width: 30%;

	padding: 20px;
	margin: 10px;

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	}

	&-title {
		min-height: 56px;
		font-size: 24px;
		text-align: center;

		margin-top: 20px;
	}

	&-img {
		height: 180px;
	}

	&-action {
		display: flex;
		align-items: center;

		&-icon {
			display: none;
		}

		&-icon.active {
			display: block;
			color: #e77c40;
			margin-left: 15px;
		}
	}
}

.device-price {
	font-size: 20px;
	font-weight: bold;
	color: #e31837;
}
