.modal {
	display: none;
	flex-direction: column;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 2;

	width: 60vw;
	height: 400px;

	border-radius: 1.5em;

	margin: auto;

	&__red {
		color: #e0232e;
		background-color: #ffdede;
		border: 2px solid #df1e1e;
	}

	&__green {
		color: #76d8a3;
		background-color: #f2fff7;
		border: 2px solid #76d8a3;
	}

	&__yellow {
		color: #e77c40;
		background-color: #fff6ef;
		border: 2px solid #e77c40;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		color: #fff;

		padding: 10px 20px;

		&-red {
			background-color: #da3b3b;
		}

		&-green {
			background-color: #76d8a3;
		}

		&-yellow {
			background-color: #e77c40;
		}
	}

	&__body {
		display: block;

		text-align: center;

		padding: 10px 20px;
		margin: auto 0;
	}

	&__main-text {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;

		margin-bottom: 25px;
	}

	&__close-btn {
		display: none;
		font-size: 24px;
		cursor: pointer;

		&.active {
			display: block;
		}
	}

	&-back-drop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	&.active {
		display: flex;
	}
}
