.nav {
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		font-size: 20px;
		color: #677788;

		&:hover {
			color: #377dff;
		}
	}
	.nav__item + .nav__item {
		margin-left: 20px;
	}
}
